.links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logout {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .buttonlogout {
    background: var(--btn);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--btnLogout);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .buttonlogout .iconlogout {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--btnLogout);
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .buttonlogout:hover .iconlogout {
    width: calc(100% - 0.6em);
  }
  
  .buttonlogout .iconlogout svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--btnLogout);
  }
  
  .buttonlogout:hover .iconlogout svg {
    transform: translateX(0.1em);
  }
  
  .buttonlogout:active .iconlogout {
    transform: scale(0.95);
  }
  
  .menuButton,
  .mobileLinks {
    display: none;
  }
  
  @media (max-width: 768px) {
    .links {
      display: none;
    }
  
    .menuButton {
      display: block;
      cursor: pointer;
    }
  
    .mobileLinks {
      position: absolute;
      top: 100px;
      right: 0;
      width: 50%;
      height: calc(100vh - 100px);
      background-color: var(--bg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }