.container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper{
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
  }

  .buttonGithub {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .buttonGithub .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .buttonGithub svg path {
    transition: 400ms;
  }
  
  .buttonGithub:hover {
    background-color: var(--btn);
  }
  
  .buttonGithub:hover .text {
    color: var(--bgSoft);
  }
  
  .buttonGithub:hover svg path {
    fill: #181717;
  }